body {
  background-color: #282c34;
  color: #fff;
}
a {
  color: cyan;
}
.container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}
h1 {
  text-align: center;
}
.list {
  /* padding: 20px;
  border: 1px solid cyan;
  width: 47%;
  float: left; */
  display: table-cell;
}

.list:hover {
  background: darkcyan;
}

.done {
  text-decoration: line-through;
}
