body {
  background-color: #282c34;
  color: #fff;
}
a {
  color: cyan;
}

.list {
  padding: 20px;
  border: 1px solid cyan;
  width: 47%;
  float: left;
}

.list:hover {
  background: darkcyan;
}

.done {
  text-decoration: line-through;
}
